[Desktop Entry]
Version=1.0
Type=Application
Name=Plotto
Exec=gnome-terminal -- bash -c "__BASE_DIR__/scripts/run_plotto.sh; exec bash"
Icon=__BASE_DIR__/src/icona_desktop.png
Terminal=false
Categories=Utility;Education;